.footer {
	display: flex;
	justify-content: center;
	grid-area: footer;
	text-align: center;
	font-weight: bold;
	font-family: "Google Sans Regular";
	width: 100%;
}

.footer p {
	margin: 1rem;
}

@media (max-width: 768px) {
	.footer {
		font-size: 16px;
	}
}
