.certification_light_card {
  border: 1px solid #eee;
  border-radius: 10px;
  margin: 2rem;
}

.certification_dark_card {
  border: 1px solid #62656c;
  border-radius: 10px;
  margin: 2rem;
}

.certification_light_card:hover {
  box-shadow: 0 20px 30px -10px #0003;
}

.certification_dark_card:hover {
	box-shadow: 0 20px 30px -10px #fff3;
}

.certification_text_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.certification_text__title a {
  font-size: 1.5rem;
  line-height: 40px;
  font-family: "Google Sans Medium";
	text-decoration: none;
}

.certification_text__subtitle {
  font-size: 1rem;
  line-height: 40px;
  font-family: "Google Sans Regular";
}

.certification_footer {
	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 0 1rem 1rem 1rem;; 
}

.certification_tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: #55198b;
	border-radius: 4px;
	color: #f5f2f4;
	font-size: .75rem;
	height: 2em;
	line-height: 1.5;
	margin: 0 0.5rem 0.5rem 0;
	padding: 0 0.75em;
	white-space: nowrap;
}

.certification_tag:hover {
	background: #8c43ce;
}
